<!-- <fs-radio-group
  *ngIf="aclLevelObjectRoles.length > 1"
  [(ngModel)]="aclLevelObjectRole"
  fsFormRequired
  (ngModelChange)="changed.emit(aclLevelObjectRole)"
  label="Access Level" name="level" orientation="vertical">
  <mat-radio-button [value]="aclLevelObjectRole" *ngFor="let aclLevelObjectRole of aclLevelObjectRoles">{{aclLevelObjectRole.label}}</mat-radio-button>
</fs-radio-group> -->

<ng-container *ngIf="!multiple">
  <ng-container *ngFor="let aclObjectRole of aclObjectRoles">
    <fs-checkbox-group
      [(ngModel)]="aclObjectRole.aclRoles"
      (ngModelChange)="change.emit(aclObjectRoles)"
      name="roles"
      [label]="label"
      [fsFormRequired]="required"
      orientation="vertical">
      <mat-checkbox *ngFor="let aclRole of aclRoles" [value]="aclRole">
        {{ aclRole.name }}
      </mat-checkbox>
    </fs-checkbox-group>
  </ng-container>
</ng-container>

<ng-container *ngIf="multiple">
  <table>
    <tr>
      <td>

      </td>
      <td>
        <small>Roles</small>
      </td>
    </tr>
    <tr *ngFor="let aclObjectRole of aclObjectRoles">
      <td>{{aclObjectRole.object.name}}</td>
      <td>
        <mat-form-field class="form-field-padless">
          <mat-select
            [(ngModel)]="aclObjectRole.aclRoles"
            multiple="true"
            [compareWith]="compareAclRole"
            (ngModelChange)="change.emit(aclObjectRoles)"
            name="aclRole_{{ aclObjectRole.object.id }}">
            <mat-option *ngFor="let aclRole of aclObjectRole.aclRoles" [value]="aclRole">
              {{ aclRole.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
</ng-container>
