@if (!multiple) {
  @for (aclObjectRole of aclObjectRoles; track aclObjectRole) {
    <fs-checkbox-group
      [(ngModel)]="aclObjectRole.aclRoles"
      (ngModelChange)="changed()"
      name="roles"
      [compareWith]="compareAclRole"
      [disabled]="disabled"
      [label]="rolesLabel"
      [fsFormRequired]="required"
      orientation="vertical">
      @for (aclRole of aclRoles; track aclRole) {
        <mat-checkbox [disabled]="disabled" [value]="$any(aclRole)">
          {{ aclRole.name }}
        </mat-checkbox>
      }
    </fs-checkbox-group>
  }
}

@if (multiple) {
  <table>
    <tr>
      <td>
        <small>{{levelLabel}}</small>
      </td>
      <td>
        <small>{{rolesLabel}}</small>
      </td>
    </tr>
    @for (aclObjectRole of aclObjectRoles; track aclObjectRole) {
      <tr>
        <td>{{aclObjectRole.object.name}}</td>
        <td>
          <mat-form-field class="form-field-padless">
            <mat-select
              [(ngModel)]="aclObjectRole.aclRoles"
              multiple="true"
              [disabled]="disabled"
              [compareWith]="compareAclRole"
              (ngModelChange)="changed()"
              name="aclRole_{{ aclObjectRole.object.id }}">
              @for (aclRole of aclRoles; track aclRole) {
                <mat-option [value]="aclRole">
                  {{ aclRole.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    }
  </table>
}
