
<fs-popover [template]="popover" [maxWidth]="400">
  <ng-content></ng-content>
</fs-popover>

<ng-template #popover>
  <div class="name small">{{aclRole.name}}@if (objectName) {
    <span>: {{objectName}}</span>
  }</div>

  @if (permissions.length) {
    @for (permission of permissions; track permission) {
      <div class="permission">
        <div>{{permission.name}}</div>
        <div class="small">{{permission.description}}</div>
      </div>
    }
  } @else {
    None
  }

</ng-template>
