<form
  fsForm
  [submit]="save">
  <fs-dialog>
    @if (aclRole) {
      <div mat-dialog-title>
        @if (!disabled) {
          {{ aclRole.id ? 'Edit' : 'Create' }}
        }
        @if (disabled) {
          View
        }
        role
      </div>
      <mat-dialog-content>
        <div class="fs-row.gap-lg.align-start">
          <div class="fs-column left-column">
            <mat-form-field>
              <mat-label>
                Name
              </mat-label>
              <input
                matInput
                [(ngModel)]="aclRole.name"
                [disabled]="disabled"
                name="name"
                fsFormRequired>
            </mat-form-field>
            <mat-form-field>
              <mat-label>
                Description
              </mat-label>
              <input
                matInput
                [(ngModel)]="aclRole.description"
                [disabled]="disabled"
                name="description">
            </mat-form-field>
            @if (aclRole.id || aclLevels.length === 1) {
              <fs-label-field>
                <fs-label>
                  Level
                </fs-label>
                {{ indexedAclLevels[aclRole.level] }}
              </fs-label-field>
            } @else {
              <div class="level">
                <fs-radio-group
                  [(ngModel)]="aclRole.level"
                  [disabled]="disabled"
                  (ngModelChange)="levelChange()"
                  fsFormRequired
                  label="Level"
                  orientation="vertical"
                  name="level">
                  @for (item of aclLevels; track item) {
                    <mat-radio-button
                      [value]="item.value"
                      [disabled]="!!aclRole.protected">
                      {{ item.name }}
                    </mat-radio-button>
                  }
                </fs-radio-group>
              </div>
            }
            @if (levelPermissions.length) {
              <fs-label-field>
                <fs-label>
                  All permissions
                </fs-label>
                <mat-checkbox
                  [(ngModel)]="aclRole.allPermissions"
                  (ngModelChange)="allPermissionsChange($event)"
                  [disabled]="!!aclRole.protected || disabled"
                  name="allPermissions">
                  Enable
                </mat-checkbox>
              </fs-label-field>
            }
            @for (roleConfig of roleConfigs; track roleConfig) {
              <div
                class="fs-column"
                >
                @if (roleConfig.type === 'checkbox') {
                  <fs-label-field>
                    <fs-label>
                      {{ roleConfig.label }}
                    </fs-label>
                    <mat-checkbox
                      [(ngModel)]="aclRoleConfigValues[roleConfig.name]"
                      [disabled]="disabled"
                      [name]="roleConfig.name">
                      Enable
                    </mat-checkbox>
                    <fs-label-message>
                      <mat-hint>
                        {{ roleConfig.description }}
                      </mat-hint>
                    </fs-label-message>
                  </fs-label-field>
                }
                @if (roleConfig.type === 'select') {
                  <mat-form-field>
                    <mat-select
                      [(ngModel)]="aclRoleConfigValues[roleConfig.name]"
                      [name]="roleConfig.name"
                      [required]="roleConfig.required"
                      [disabled]="disabled"
                      [placeholder]="roleConfig.label">
                      @for (item of roleConfig.values; track item) {
                        <mat-option
                          [value]="item.value">
                          {{ item.name }}
                        </mat-option>
                      }
                    </mat-select>
                    <mat-hint>
                      {{ roleConfig.description }}
                    </mat-hint>
                  </mat-form-field>
                }
              </div>
            }
          </div>
          @if (aclRole.level) {
            <div
              [hidden]="!levelPermissions.length"
              class="permissions fs-column">
              <fs-list [config]="listConfig">
                <fs-list-column title="Permissions">
                  <ng-template
                    fs-list-group-cell
                    let-row="row"
                    class="permission-group">
                    <div class="permission-group">
                      {{ row.category || 'General' }}
                    </div>
                  </ng-template>
                  <ng-template
                    fs-list-cell
                    let-row="row">
                    <div class="permission">
                      {{ row.name }}
                    </div>
                    <div class="description small">
                      {{ row.description }}
                    </div>
                  </ng-template>
                </fs-list-column>
                <fs-list-column
                  title="Access"
                  width="1%"
                  class="access">
                  <ng-template
                    fs-list-group-cell
                    let-row="row"
                    let-group="group"
                    let-groupChildren="groupChildren"
                    class="permission-group"
                    align="right">
                    @if (!aclRole.allPermissions && !disabled) {
                      <fs-menu>
                        @for (access of AclRoleAccesses | builkOptionsFilter: groupChildren; track access) {
                          <ng-template
                            fs-menu-item
                            (click)="bulkChange(access.value, groupChildren, group)">
                            {{ access.name }}
                          </ng-template>
                        }
                      </fs-menu>
                    }
                  </ng-template>
                  <ng-template
                    fs-list-cell
                    let-row="permission"
                    let-permission="row">
                    @if (aclRole.allPermissions || disabled) {
                      <span>
                        {{ indexedAccesses[aclRolePermissions[permission.value]] }}
                      </span>
                    } @else {
                      @if (permission|aclRolePermissionAvailable:aclRolePermissions) {
                        <mat-form-field class="form-field-padless">
                          <mat-select
                            [(ngModel)]="aclRolePermissions[permission.value]"
                            [disabled]="!!aclRole.protected"
                            required
                            [name]="'access-' + permission.value"
                            (ngModelChange)="permissionChange()">
                            @for (access of AclRoleAccesses; track access) {
                              @if (access.value === 0 || permission.accesses.indexOf(access.value) !== -1) {
                                <mat-option
                                  [value]="access.value">
                                  {{ access.name }}
                                </mat-option>
                              }
                            }
                          </mat-select>
                        </mat-form-field>
                      } @else {
                        Unavailable
                      }
                    }
                  </ng-template>
                </fs-list-column>
              </fs-list>
            </div>
          }
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        @if (!disabled) {
          <button
            #submit
            mat-button
            type="submit"
            color="primary">
            {{ aclRole.id ? 'Save' : 'Create' }}
          </button>
        }
        <button
          mat-button
          [mat-dialog-close]="null"
          type="button">
          {{ disabled ? 'Done' : 'Cancel' }}
        </button>
      </mat-dialog-actions>
    }
  </fs-dialog>
</form>